*{
    margin: 0;
    padding: 0;
}
html{
    font-family: sans-serif;
    overflow-x: hidden;
}
body{
    background-color: black;
    width: 100vw;
}
.main{
    background-image: url("image/background.jpg");
    height: 80vh;
    background-position: center;
    position: relative;
    background-size: max(1500px, 100vw);
    width: 100vw;
}
.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    background-color: black;
}
.main img{
    width: 150px;
    color: red;
}
.navbar{
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto auto 20vh auto;
    padding-top: 20px;
    position: relative;
    z-index: 2;
}
#button1{
    color: white;
    padding: 4.1px 7px 5px 7px;
    border: 1px solid rgba(255, 255, 255, 0.443);
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    font-family: sans-serif;
}
.button2{
    border: 1px solid red;
    background-color: red;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    font-family: sans-serif;
}
.box2{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 75vw;
}
.box2 h1{
    color: white;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 1000;
}
.box2 :nth-child(2){
    color: white;
    font-size: 25px;
    margin: 10px;
    font-family: sans-serif;
}
.box2 :nth-child(3){
    color: white;
    font-family: sans-serif;
    font-size: 22px;
    margin: 5px 0px 20px 0px;
}
.flex{
    display: flex;
}
.flex :nth-child(1){
    border: 1px solid #ffffff4d;
    padding: 7px;
    height: 44px;
    width: 350px;
    background-color:rgba(0, 0, 0, 0.568);
    margin: 5px auto auto auto;
    border-radius: 5px;
}
.flex :nth-child(2){
    border: 1px solid red;
    padding: 15px;
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    margin-top: 5px;
}
.line1{
    width: 100vw;
    height: 1vh;
    background-color: rgb(35,35,35);
}
.bigbox{
    height: 62vh;
    width: 100vw;
}
.area1 img{
    width: 500px;
}
.area1{
    margin: 37px 30px 30px 31px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.area{
    margin: 37px 30px 30px 31px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.tvwithvideo{
    width: 500px;
}
.text :first-child{
    color: white;
    font-size: 47px;
    font-family: sans-serif;
    font-weight: 1000;
    align-items: center;
}
.text :nth-child(2){
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    width: 30vh;
    display: inline;
}
.area1 :nth-child(2){
    width: 45vw;
    z-index: 10;
}
.combined{
    position: relative;
}
.combined img{
    position: relative;
    width: 600px;
    z-index: 10;
}
.combined video{
    position: absolute;
    right: 2px;
    width: 555px;
    bottom: 49px;
}
.combined2{
    position: relative;
}
.combined2 img{
    position: relative;
    width: 600px;
    z-index: 10;
}
.combined2 video{
    position: absolute;
    right: 128px;
    width: 360px;
    bottom: 211px;
}
.secondaryheading{
    color: white;
    font-size: 30px;
    margin: 10px 0 20px 30px;
}
.plus{
    display: flex;
    width: 80vw;
    height: 80px;
    font-size: 25px;
    color: white;
    padding-left: 10px;
    align-items: center;
    background-color: rgb(35,35,35);
    margin: 10px 10px 10px 30px;
    justify-content: space-between;
}
.plus:hover{
    background-color: rgb(65,65,65);
}
.plus :nth-child(2){
    font-size: 30px;
    margin-right: 10px;
}
.next{
    color: white;
    margin: 25px 0px 25px 30px;
    color: rgb(179,179,179);
}
.flex11{
    display: flex;
}
.flex11 :nth-child(1){
    border: 1px solid #ffffff4d;
    padding: 7px;
    height: 44px;
    width: 60vw;
    background-color:rgba(0, 0, 0, 0.568);
    margin: 5px 10px 10px 30px;
    border-radius: 5px;
    font-size: 20px;
}
.flex11 :nth-child(2){
    border: 1px solid red;
    padding: 15px;
    height: 61px;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    margin-top: 5px;
}
.grid{
    margin: 50px 50px 0 80px;
    display: grid;
    text-decoration: underline;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 100px 35px 35px 35px;
    color: rgb(179,179,179);
}
.griditem{
    grid-column: 1/5;
}
.questions{
    cursor: pointer;
}
.buttonbottom{
    color: white;
    padding: 4.1px 7px 5px 7px;
    width: 100px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.443);
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 4px;
    margin: 100px 0 10px 100px;
    cursor: pointer;
    font-family: sans-serif;
}
.footer{
    color: rgb(179,179,179);
    margin: 20px 0 100px 100px;
}
@media screen and (max-width:1150px) {
    .grid{
        margin: 50px 50px 0 80px;
        display: grid;
        text-decoration: underline;
        grid-template-columns: 200px 200px 200px 200px;
        grid-template-rows: 100px 35px 35px 35px;
        color: rgb(179,179,179);
    }
}
@media screen and (max-width:930px) {
    .main img{
        width: 100px;
    }
    .box2 h1{
        color: white;
        font-size: 25px;
    }
    .box2 :nth-child(2){
        color: white;
        font-size: 20px;
        margin: 10px;
    }
    .box2 :nth-child(3){
        color: white;
        font-size: 20px;
        margin: 5px 0px 20px 0px;
    }
    .flex input[type=text]{
        color: white;
    }
    .flex :nth-child(1){
        border: 1px solid #ffffff4d;
        padding: 7px;
        height: 30px;
        width: 40vw;
        background-color:rgba(0, 0, 0, 0.568);
        margin: 10px auto auto auto;
        border-radius: 5px;
    }
    .flex :nth-child(2){
        border: 1px solid red;
        padding: 9px;
        background-color: red;
        color: white;
        border-radius: 5px;
        height: 45px;
        width: 30vw;   
    }
    .box2{
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: auto;
    }
    .main{
        background-image: url("image/background.jpg");
        height: 70vh;
        background-position: center;
        position: relative;
        background-size: max(1500px, 100vw);
    }
    .main .box{
        height: 70vh;
    }
    .bigbox{
        height: 79vh;
        width: 100vw;
    }
    .area1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .area{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text :first-child{
        color: white;
        font-size: 30px;
        font-family: sans-serif;
        font-weight: 1000;
        margin-bottom: 10px;
    }
    .text :nth-child(2){
        color: white;
        font-size: 20px;
        font-family: sans-serif;
        display: inline;
        margin: 5px;
    }
    .text{
        text-align: center;
        height: 100px;
    }
    .area1 :nth-child(2){
        width: 71vw;
    }
    .grid{
        margin: 50px 100px 0 50px;
        display: grid;
        text-decoration: underline;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 100px 35px 35px 35px 35px;
        color: rgb(179,179,179);
    }
    .griditem{
        grid-column: 1/4;
    }
}
@media screen and (max-width:659px) {
    .grid{
        margin: 50px 100px 0 50px;
        display: grid;
        text-decoration: underline;
        grid-template-columns: 200px 200px;
        grid-template-rows: 100px 35px 35px 35px 35px 35px 35px 35px;
        color: rgb(179,179,179);
    }
    .griditem{
        grid-column: 1/3;
    }
    .combined img{
        position: relative;
        width: 500px;
        z-index: 10;
    }
    .combined video{
        position: absolute;
        right: 2px;
        width: 455px;
        bottom: 49px;
    }
    .img1{
        width: 400px;
    }
    .flex11 :nth-child(1){
        width: 50vw;
    }
    .flex11 :nth-child(2){
        width: 150px;
        font-size: 15px;
    }
    .combined2 img{
        position: relative;
        width: 400px;
        z-index: 10;
    }
    .combined2 video{
        position: absolute;
        right: 71px;
        width: 260px;
        bottom: 141px;
    }
}
@media screen and (max-width:532px) {
    .main{
        background-image: url("image/background.jpg");
        height: 80vh;
        background-position: center;
        position: relative;
        background-size: max(1500px, 100vw);
    }
    .main .box{
        height: 80vh;
        width: 100%;
        opacity: 0.5;
        position: absolute;
        top: 0;
        background-color: black;
    }
}